* {
	margin: 0px;
	padding: 0px;
	font-family: Verdana;
	background-color:#06D68A;

}

#top {
width:auto;
text-align:center;
}

#right {
width:35%;
float:right;
text-align: left;
}

#main {
padding-top:100px;
padding-bottom:100px;
width:65%;
background-color:#048A81;
text-align:center;
}

#bottom {
width: 100%;
height:30px;
background-color:#048A81;
}

#button{
height:50px;
width: auto;
background-color:#06D68A;
}


table {
	margin-left:auto;
	margin-right:auto;
	width: 1000px;
	height:1000px;
	border-spacing: 5px;
	border-color: black;
	border-style:outset;
}

#lowerright {
	text-align:center;
}

td,tr {
background-color:#06D68A;
border-color:black;
width: 300px;
height:300px;
border-style:outset;
}

#end {
height:50px;
width: auto;
background-color:#06D68A;
}